<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fund.mapper.CurrencyTypeMapper" >
  <resultMap id="BaseResultMap" type="com.fund.po.CurrencyType" >
    <id column="CurrencyType_Id" property="currencytypeId" jdbcType="INTEGER" />
    <result column="Currency_Name" property="currencyName" jdbcType="VARCHAR" />
    <result column="Symbol" property="symbol" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    CurrencyType_Id, Currency_Name, Symbol, State
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fund.po.CurrencyTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from currency_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from currency_type
    where CurrencyType_Id = #{currencytypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from currency_type
    where CurrencyType_Id = #{currencytypeId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fund.po.CurrencyTypeExample" >
    delete from currency_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fund.po.CurrencyType" >
    insert into currency_type (CurrencyType_Id, Currency_Name, Symbol, 
      State)
    values (#{currencytypeId,jdbcType=INTEGER}, #{currencyName,jdbcType=VARCHAR}, #{symbol,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fund.po.CurrencyType" >
    insert into currency_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="currencytypeId != null" >
        CurrencyType_Id,
      </if>
      <if test="currencyName != null" >
        Currency_Name,
      </if>
      <if test="symbol != null" >
        Symbol,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="currencytypeId != null" >
        #{currencytypeId,jdbcType=INTEGER},
      </if>
      <if test="currencyName != null" >
        #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null" >
        #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fund.po.CurrencyTypeExample" resultType="java.lang.Integer" >
    select count(*) from currency_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update currency_type
    <set >
      <if test="record.currencytypeId != null" >
        CurrencyType_Id = #{record.currencytypeId,jdbcType=INTEGER},
      </if>
      <if test="record.currencyName != null" >
        Currency_Name = #{record.currencyName,jdbcType=VARCHAR},
      </if>
      <if test="record.symbol != null" >
        Symbol = #{record.symbol,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        State = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update currency_type
    set CurrencyType_Id = #{record.currencytypeId,jdbcType=INTEGER},
      Currency_Name = #{record.currencyName,jdbcType=VARCHAR},
      Symbol = #{record.symbol,jdbcType=VARCHAR},
      State = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fund.po.CurrencyType" >
    update currency_type
    <set >
      <if test="currencyName != null" >
        Currency_Name = #{currencyName,jdbcType=VARCHAR},
      </if>
      <if test="symbol != null" >
        Symbol = #{symbol,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where CurrencyType_Id = #{currencytypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fund.po.CurrencyType" >
    update currency_type
    set Currency_Name = #{currencyName,jdbcType=VARCHAR},
      Symbol = #{symbol,jdbcType=VARCHAR},
      State = #{state,jdbcType=TINYINT}
    where CurrencyType_Id = #{currencytypeId,jdbcType=INTEGER}
  </update>
</mapper>