<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fund.mapper.StappinfoMapper" >
  <resultMap id="BaseResultMap" type="com.fund.po.Stappinfo" >
    <id column="StAppInfo_Id" property="stappinfoId" jdbcType="INTEGER" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="St_Case" property="stCase" jdbcType="VARCHAR" />
    <result column="View_Class" property="viewClass" jdbcType="VARCHAR" />
    <result column="View_Institute" property="viewInstitute" jdbcType="VARCHAR" />
    <result column="View_Judge" property="viewJudge" jdbcType="VARCHAR" />
    <result column="Notes" property="notes" jdbcType="VARCHAR" />
    <result column="State" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    StAppInfo_Id, Description, St_Case, View_Class, View_Institute, View_Judge, Notes, 
    State
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fund.po.StappinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stappinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stappinfo
    where StAppInfo_Id = #{stappinfoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stappinfo
    where StAppInfo_Id = #{stappinfoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fund.po.StappinfoExample" >
    delete from stappinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fund.po.Stappinfo" >
    insert into stappinfo (StAppInfo_Id, Description, St_Case, 
      View_Class, View_Institute, View_Judge, 
      Notes, State)
    values (#{stappinfoId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, #{stCase,jdbcType=VARCHAR}, 
      #{viewClass,jdbcType=VARCHAR}, #{viewInstitute,jdbcType=VARCHAR}, #{viewJudge,jdbcType=VARCHAR}, 
      #{notes,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="stappinfoId" parameterType="com.fund.po.Stappinfo" >
    insert into stappinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stappinfoId != null" >
        StAppInfo_Id,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="stCase != null" >
        St_Case,
      </if>
      <if test="viewClass != null" >
        View_Class,
      </if>
      <if test="viewInstitute != null" >
        View_Institute,
      </if>
      <if test="viewJudge != null" >
        View_Judge,
      </if>
      <if test="notes != null" >
        Notes,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stappinfoId != null" >
        #{stappinfoId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="stCase != null" >
        #{stCase,jdbcType=VARCHAR},
      </if>
      <if test="viewClass != null" >
        #{viewClass,jdbcType=VARCHAR},
      </if>
      <if test="viewInstitute != null" >
        #{viewInstitute,jdbcType=VARCHAR},
      </if>
      <if test="viewJudge != null" >
        #{viewJudge,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fund.po.StappinfoExample" resultType="java.lang.Integer" >
    select count(*) from stappinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stappinfo
    <set >
      <if test="record.stappinfoId != null" >
        StAppInfo_Id = #{record.stappinfoId,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        Description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.stCase != null" >
        St_Case = #{record.stCase,jdbcType=VARCHAR},
      </if>
      <if test="record.viewClass != null" >
        View_Class = #{record.viewClass,jdbcType=VARCHAR},
      </if>
      <if test="record.viewInstitute != null" >
        View_Institute = #{record.viewInstitute,jdbcType=VARCHAR},
      </if>
      <if test="record.viewJudge != null" >
        View_Judge = #{record.viewJudge,jdbcType=VARCHAR},
      </if>
      <if test="record.notes != null" >
        Notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        State = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stappinfo
    set StAppInfo_Id = #{record.stappinfoId,jdbcType=INTEGER},
      Description = #{record.description,jdbcType=VARCHAR},
      St_Case = #{record.stCase,jdbcType=VARCHAR},
      View_Class = #{record.viewClass,jdbcType=VARCHAR},
      View_Institute = #{record.viewInstitute,jdbcType=VARCHAR},
      View_Judge = #{record.viewJudge,jdbcType=VARCHAR},
      Notes = #{record.notes,jdbcType=VARCHAR},
      State = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fund.po.Stappinfo" >
    update stappinfo
    <set >
      <if test="description != null" >
        Description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="stCase != null" >
        St_Case = #{stCase,jdbcType=VARCHAR},
      </if>
      <if test="viewClass != null" >
        View_Class = #{viewClass,jdbcType=VARCHAR},
      </if>
      <if test="viewInstitute != null" >
        View_Institute = #{viewInstitute,jdbcType=VARCHAR},
      </if>
      <if test="viewJudge != null" >
        View_Judge = #{viewJudge,jdbcType=VARCHAR},
      </if>
      <if test="notes != null" >
        Notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where StAppInfo_Id = #{stappinfoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fund.po.Stappinfo" >
    update stappinfo
    set Description = #{description,jdbcType=VARCHAR},
      St_Case = #{stCase,jdbcType=VARCHAR},
      View_Class = #{viewClass,jdbcType=VARCHAR},
      View_Institute = #{viewInstitute,jdbcType=VARCHAR},
      View_Judge = #{viewJudge,jdbcType=VARCHAR},
      Notes = #{notes,jdbcType=VARCHAR},
      State = #{state,jdbcType=TINYINT}
    where StAppInfo_Id = #{stappinfoId,jdbcType=INTEGER}
  </update>
</mapper>