<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fund.mapper.StipendappMapper" >
  <resultMap id="BaseResultMap" type="com.fund.po.Stipendapp" >
    <id column="StipendApp_Id" property="stipendappId" jdbcType="INTEGER" />
    <result column="BonusNotice_Id" property="bonusnoticeId" jdbcType="INTEGER" />
    <result column="Stu_Num" property="stuNum" jdbcType="VARCHAR" />
    <result column="StIndivInfo_Id" property="stindivinfoId" jdbcType="INTEGER" />
    <result column="StAppInfo_Id" property="stappinfoId" jdbcType="INTEGER" />
    <result column="File_Id" property="fileId" jdbcType="INTEGER" />
    <result column="Notes" property="notes" jdbcType="VARCHAR" />
    <result column="Is_Passed" property="isPassed" jdbcType="TINYINT" />
    <result column="State" property="state" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    StipendApp_Id, BonusNotice_Id, Stu_Num, StIndivInfo_Id, StAppInfo_Id, File_Id, Notes, 
    Is_Passed, State
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fund.po.StipendappExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stipendapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from stipendapp
    where StipendApp_Id = #{stipendappId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from stipendapp
    where StipendApp_Id = #{stipendappId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.fund.po.StipendappExample" >
    delete from stipendapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fund.po.Stipendapp" >
    insert into stipendapp (StipendApp_Id, BonusNotice_Id, Stu_Num, 
      StIndivInfo_Id, StAppInfo_Id, File_Id, 
      Notes, Is_Passed, State
      )
    values (#{stipendappId,jdbcType=INTEGER}, #{bonusnoticeId,jdbcType=INTEGER}, #{stuNum,jdbcType=VARCHAR}, 
      #{stindivinfoId,jdbcType=INTEGER}, #{stappinfoId,jdbcType=INTEGER}, #{fileId,jdbcType=INTEGER}, 
      #{notes,jdbcType=VARCHAR}, #{isPassed,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="stipendappId" parameterType="com.fund.po.Stipendapp" >
    insert into stipendapp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stipendappId != null" >
        StipendApp_Id,
      </if>
      <if test="bonusnoticeId != null" >
        BonusNotice_Id,
      </if>
      <if test="stuNum != null" >
        Stu_Num,
      </if>
      <if test="stindivinfoId != null" >
        StIndivInfo_Id,
      </if>
      <if test="stappinfoId != null" >
        StAppInfo_Id,
      </if>
      <if test="fileId != null" >
        File_Id,
      </if>
      <if test="notes != null" >
        Notes,
      </if>
      <if test="isPassed != null" >
        Is_Passed,
      </if>
      <if test="state != null" >
        State,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stipendappId != null" >
        #{stipendappId,jdbcType=INTEGER},
      </if>
      <if test="bonusnoticeId != null" >
        #{bonusnoticeId,jdbcType=INTEGER},
      </if>
      <if test="stuNum != null" >
        #{stuNum,jdbcType=VARCHAR},
      </if>
      <if test="stindivinfoId != null" >
        #{stindivinfoId,jdbcType=INTEGER},
      </if>
      <if test="stappinfoId != null" >
        #{stappinfoId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="isPassed != null" >
        #{isPassed,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fund.po.StipendappExample" resultType="java.lang.Integer" >
    select count(*) from stipendapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stipendapp
    <set >
      <if test="record.stipendappId != null" >
        StipendApp_Id = #{record.stipendappId,jdbcType=INTEGER},
      </if>
      <if test="record.bonusnoticeId != null" >
        BonusNotice_Id = #{record.bonusnoticeId,jdbcType=INTEGER},
      </if>
      <if test="record.stuNum != null" >
        Stu_Num = #{record.stuNum,jdbcType=VARCHAR},
      </if>
      <if test="record.stindivinfoId != null" >
        StIndivInfo_Id = #{record.stindivinfoId,jdbcType=INTEGER},
      </if>
      <if test="record.stappinfoId != null" >
        StAppInfo_Id = #{record.stappinfoId,jdbcType=INTEGER},
      </if>
      <if test="record.fileId != null" >
        File_Id = #{record.fileId,jdbcType=INTEGER},
      </if>
      <if test="record.notes != null" >
        Notes = #{record.notes,jdbcType=VARCHAR},
      </if>
      <if test="record.isPassed != null" >
        Is_Passed = #{record.isPassed,jdbcType=TINYINT},
      </if>
      <if test="record.state != null" >
        State = #{record.state,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stipendapp
    set StipendApp_Id = #{record.stipendappId,jdbcType=INTEGER},
      BonusNotice_Id = #{record.bonusnoticeId,jdbcType=INTEGER},
      Stu_Num = #{record.stuNum,jdbcType=VARCHAR},
      StIndivInfo_Id = #{record.stindivinfoId,jdbcType=INTEGER},
      StAppInfo_Id = #{record.stappinfoId,jdbcType=INTEGER},
      File_Id = #{record.fileId,jdbcType=INTEGER},
      Notes = #{record.notes,jdbcType=VARCHAR},
      Is_Passed = #{record.isPassed,jdbcType=TINYINT},
      State = #{record.state,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fund.po.Stipendapp" >
    update stipendapp
    <set >
      <if test="bonusnoticeId != null" >
        BonusNotice_Id = #{bonusnoticeId,jdbcType=INTEGER},
      </if>
      <if test="stuNum != null" >
        Stu_Num = #{stuNum,jdbcType=VARCHAR},
      </if>
      <if test="stindivinfoId != null" >
        StIndivInfo_Id = #{stindivinfoId,jdbcType=INTEGER},
      </if>
      <if test="stappinfoId != null" >
        StAppInfo_Id = #{stappinfoId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null" >
        File_Id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="notes != null" >
        Notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="isPassed != null" >
        Is_Passed = #{isPassed,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        State = #{state,jdbcType=TINYINT},
      </if>
    </set>
    where StipendApp_Id = #{stipendappId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fund.po.Stipendapp" >
    update stipendapp
    set BonusNotice_Id = #{bonusnoticeId,jdbcType=INTEGER},
      Stu_Num = #{stuNum,jdbcType=VARCHAR},
      StIndivInfo_Id = #{stindivinfoId,jdbcType=INTEGER},
      StAppInfo_Id = #{stappinfoId,jdbcType=INTEGER},
      File_Id = #{fileId,jdbcType=INTEGER},
      Notes = #{notes,jdbcType=VARCHAR},
      Is_Passed = #{isPassed,jdbcType=TINYINT},
      State = #{state,jdbcType=TINYINT}
    where StipendApp_Id = #{stipendappId,jdbcType=INTEGER}
  </update>
  
  
  <!-- 自定义resultMap -->
	<resultMap id="CustomResultMap" type="com.fund.po.StipendAppCustom" >
	    <id column="StipendApp_Id" property="stipendappId" jdbcType="INTEGER" />
	    <result column="BonusNotice_Id" property="bonusnoticeId" jdbcType="INTEGER" />
	    <result column="Stu_Num" property="stuNum" jdbcType="VARCHAR" />
	    <result column="StIndivInfo_Id" property="stindivinfoId" jdbcType="INTEGER" />
	    <result column="StAppInfo_Id" property="stappinfoId" jdbcType="INTEGER" />
	    <result column="File_Id" property="fileId" jdbcType="INTEGER" />
	    <result column="Notes" property="notes" jdbcType="VARCHAR" />
	    <result column="Is_Passed" property="isPassed" jdbcType="TINYINT" />
	    <result column="State" property="state" jdbcType="TINYINT" />
    
    <association property="stAppInfo" javaType="com.fund.po.Stappinfo">
    	<id column="StAppInfo_Id" property="stappinfoId" jdbcType="INTEGER" />
	    <result column="Description" property="description" jdbcType="VARCHAR" />
	    <result column="St_Case" property="stCase" jdbcType="VARCHAR" />
	    <result column="View_Class" property="viewClass" jdbcType="VARCHAR" />
	    <result column="View_Institute" property="viewInstitute" jdbcType="VARCHAR" />
	    <result column="View_Judge" property="viewJudge" jdbcType="VARCHAR" />
	    <result column="Notes" property="notes" jdbcType="VARCHAR" />
	    <result column="State" property="state" jdbcType="TINYINT" />
    </association>
    
    <association property="stIndivInfo" javaType="com.fund.po.Stindivinfo">
    	<id column="StIndivInfo_Id" property="stindivinfoId" jdbcType="INTEGER" />
	    <result column="St_Name" property="stName" jdbcType="VARCHAR" />
	    <result column="St_Sex" property="stSex" jdbcType="TINYINT" />
	    <result column="St_Birthday" property="stBirthday" jdbcType="TIMESTAMP" />
	    <result column="St_StuId" property="stStuid" jdbcType="VARCHAR" />
	    <result column="Institute" property="institute" jdbcType="VARCHAR" />
	    <result column="Degrees" property="degrees" jdbcType="VARCHAR" />
	    <result column="Major" property="major" jdbcType="VARCHAR" />
	    <result column="Classes" property="classes" jdbcType="VARCHAR" />
	    <result column="Nation" property="nation" jdbcType="VARCHAR" />
	    <result column="Enrolled_Time" property="enrolledTime" jdbcType="TIMESTAMP" />
	    <result column="Political_Status" property="politicalStatus" jdbcType="VARCHAR" />
	    <result column="Phone" property="phone" jdbcType="VARCHAR" />
	    <result column="St_Email" property="stEmail" jdbcType="VARCHAR" />
	    <result column="St_Address" property="stAddress" jdbcType="VARCHAR" />
	    <result column="Photo_Url" property="photoUrl" jdbcType="VARCHAR" />
	    <result column="Notes" property="notes" jdbcType="VARCHAR" />
	    <result column="State" property="state" jdbcType="TINYINT" />
    </association>
  </resultMap>
  
  <!-- 自定义sql -->
	<select id="selectStAppByAppId" resultMap="CustomResultMap" parameterType="int" >
	    SELECT 
		  * 
		FROM
		  stipendapp app,
		  stindivinfo indivInfo,
		  stappinfo appInfo 
		WHERE app.`StipendApp_Id` = #{appId} 
		  AND indivInfo.`StIndivInfo_Id` = app.`StIndivInfo_Id`
		  AND appInfo.`StAppInfo_Id` = app.`StAppInfo_Id`
		  AND app.`State` = 1;
  </select>
  
  <select id="selectStAppsByBNId" resultMap="CustomResultMap" parameterType="hashmap" >
	    SELECT 
		  * 
		FROM
		  stipendapp app,
		  stindivinfo indivInfo,
		  stappinfo appInfo 
		WHERE BonusNotice_Id = #{bNoticeId} 
		  AND indivInfo.`StIndivInfo_Id` = app.`StIndivInfo_Id`
		  AND appInfo.`StAppInfo_Id` = app.`StAppInfo_Id`
		  AND app.`State` = 1
		  ORDER BY ${order}
		  LIMIT #{page.startPos},#{page.pageSize}
  </select>
  
  <select id="selectUnverifiedStAppsByBNId" resultMap="CustomResultMap" parameterType="hashmap" >
	    SELECT 
		  * 
		FROM
		  stipendapp app,
		  stindivinfo indivInfo,
		  stappinfo appInfo 
		WHERE BonusNotice_Id = #{bNoticeId} 
		  AND indivInfo.`StIndivInfo_Id` = app.`StIndivInfo_Id`
		  AND appInfo.`StAppInfo_Id` = app.`StAppInfo_Id`
		  AND app.`Is_Passed` = 0
		  AND app.`State` = 1
		  ORDER BY ${order}
		  LIMIT #{page.startPos},#{page.pageSize}
  </select>
  
  <select id="selectVerifiedStAppsByBNId" resultMap="CustomResultMap" parameterType="hashmap" >
	    SELECT 
		  * 
		FROM
		  stipendapp app,
		  stindivinfo indivInfo,
		  stappinfo appInfo 
		WHERE BonusNotice_Id = #{bNoticeId} 
		  AND indivInfo.`StIndivInfo_Id` = app.`StIndivInfo_Id`
		  AND appInfo.`StAppInfo_Id` = app.`StAppInfo_Id`
		  AND app.`Is_Passed` > 0
		  AND app.`State` = 1
		  ORDER BY ${order}
		  LIMIT #{page.startPos},#{page.pageSize}
  </select>
  
</mapper>